{% extends '../common/layout.html' %} 
{% block head %}
{% parent %}
<link rel="stylesheet" href="/css/label-application.css"> 
{% endblock %} 
{% block main %}
<div class="warp">
    <div class="main">
        <ul class="breadcrumb">
            <li>
                <a href="/project/list_new.html">营销项目</a>
            </li>
            <li>
                <span></span>
            </li>
        </ul>
        <div class="title-bar">
            <h2></h2>
            <div class="center-button">
                <div></div>
                <a class="downback" href="javascript:void(0);">
                    <i class="download"></i>
                    <span>下载反馈模版</span>
                </a>
                <a class="addback" style="margin-left:15px;" href="javascript:void(0);">
                    <i class="add"></i>
                    <span>上传反馈</span>
                </a>
                <a class="market" href="javascript:void(0);" data-dialog="market_type">
                    <i class="marketing"></i>
                    <span>营销应用</span>
                </a>
            </div>
        </div>
        <div class="funnel-chart"></div>
        <div class="case-table">
            <div class="com-table-null">暂无反馈数据，请上传反馈</div>
        </div>
    </div>
</div>

{% endblock %} 
{% block other %}
<div id="loading" class="dialog">
    <div class="dialog-body">
        <div class="success">
            <h5>
                <span>loading…</span>
            </h5>
            <div id="loading" style="width: 100%;">
                <img style="display: block;margin: 60px auto;" src="/img/load3.gif" />
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="market_type">
    <a href="javascript:void(0);" class="dialog-close" title="关闭"></a>
    <div class="dialog-body">
        <div class="dialog-bugButton">
            <a data-downdata="1" href="javascript:void(0);">
                <i class="icon06"></i>
                <span>下载人群</span>
            </a>
            <a href="javascript:void(0);">
                <i class="icon07"></i>
                <span>对接内部平台</span>
            </a>
            <a data-dialog="waitui" href="javascript:void(0);">
                <i class="icon08"></i>
                <span>对接外部营销渠道</span>
            </a>
        </div>
    </div>
</div>
<div id="waitui" class="dialog">
    <a href="javascript:void(0);" class="dialog-close" title="关闭"></a>
    <div class="dialog-header"><h4>选择营销渠道</h4></div>
    <div class="dialog-body">
        <div class="dialog-external">
            <ul class="input-warp">
                <li>
                    <label>营销渠道</label>
                    <div class="select-block">
                        <a class="active" href="javascript:void(0);"><i class="icon gdt"></i><i class="tri"></i><span>广点通</span><em></em></a>
                        <a href="javascript:void(0);"><i class="icon wb"></i><i class="tri"></i><span>微博</span><em></em></a>
                        <a href="javascript:void(0);"><i class="icon at"></i><i class="tri"></i><span>爱投DSP</span><em></em></a>
                        <a href="javascript:void(0);"><i class="icon edm"></i><i class="tri"></i><span>EDM营销</span><em></em></a>
                        <a href="javascript:void(0);"><i class="icon dh"></i><i class="tri"></i><span>电话营销</span><em></em></a>
                        <a href="javascript:void(0);"><i class="icon dx"></i><i class="tri"></i><span>短信营销</span><em></em></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dialog-footer">
        <a class="red" href="javascript:hideDialog();">确定</a>
        <a href="javascript:void(0);">取消</a>
    </div>
</div>
<script id="data_status" type="text/html">
    <ul>
        <li class="clue_time">线索生成时间：
            <span>{{data.clue_time}}</span>
        </li>
        <li class="effect_time">反馈用时：
            <span>{{data.effect_time}}天</span>
        </li>
        <li class="effect_total">筛选销售线索：
            <span>{{data.effect_total}}条</span>
        </li>
        <li class="clue_num">转化用户：
            <span>{{data.clue_num}}人</span>
        </li>
    </ul>
</script>
<script id="list" type="text/html">
    <table class="com-table">
        <tr>
            <th></th>
            <th>未反馈人群</th>
            <th>已反馈人群</th>
            {{each data.cycle_name as item i}}
            <th title="{{item}}">{{if item.length>10}}{{item.substr(0,10)}}…{{else}}{{item}}{{/if}}</th>
            {{/each}}
        </tr>
        <tr class="bg">
            <td class="special">筛选线索数</td>
            <td>{{data.feedback_no_total[0]}}</td>
            <td>{{data.feedback_total[0]}}</td>
            {{each data.change_value as item i}}
            <td>{{item}}</td>
            {{/each}}
        </tr>
        <tr>
            <td class="special">转化率</td>
            <td>{{data.feedback_no_total[1]}}%</td>
            <td>{{data.feedback_total[1]}}%</td>
            {{each data.change_score as item i}}
            <td>{{item}}
                <span>%</span>
            </td>
            {{/each}}
        </tr>
        <tr class="bg">
            <td class="special"></td>
            <td></td>
            <td></td>
            {{each data.change_value as item i}}
            <td>
                <a href="/project/failer.html?id={{id}}&stage={{i+1}}">失败原因</a>
            </td>
            {{/each}}
        </tr>
    </table>
</script>
<script id="funnel" type="text/html">
    <div class="funnel funnel{{data.cycle_name.length}}">
        <dl>
            <dt>转化漏斗</dt>
            {{each data.cycle_name as name i}}
                <dd class="d{{i+1}}"><p>{{name}}</p>{{data.change_score[i]}}<span>%</span></dd>
            {{/each}}
        </dl>
    </div>
</script>
{% parent %}
<script type="text/javascript" id="js-run" data-js="page/cycle">
    seajs.use('/js/modules/run');
</script>
{% endblock %}