{% extends '../common/layout.html' %} 
{% block head %} 
{% parent %}
    <link rel="stylesheet" href="/css/label-application.css"> 
{% endblock %} 
{% block main %}
<div class="warp">
    <div class="main">
        <div class="fail-cause">
            <div class="cake-chart">
                <div class="chart-warp" id="pic"></div>
                <div class="line-legend"></div>
            </div>
            <div class="fail-table"></div>
        </div>
    </div>
</div>
{% endblock %} {% block other %}
<script id="failer_title" type="text/html">
    <ul class="breadcrumb">
        <li>
            <a data-href="datause" href="/project/list_new.html">营销项目</a>
        </li>
        <li>
            <a href="/project/cycle.html?id={{data.project.id}}">{{data.project.name}}</a>
        </li>
        <li>
            <span>阶段{{stage}}失败原因</span>
        </li>
    </ul>
    <div class="title-bar">
        <h2>{{data.project.name}}阶段{{stage}}失败原因</h2>
        <div class="center-button">
            <ul>
                {{if data.summary.customers>0}}
                <li>筛选销售线索：
                    <span class="customers">{{data.summary.customers}}条</span>
                </li>
                {{/if}}
                {{if data.summary.conversion}}
                <li>转化率：
                    <span class="conversion">{{data.summary.conversion}}%</span>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</script>
<script id="failer_table" type="text/html">
    <table class="com-table">
        <tr>
            <th>标示</th>
            <th>失败原因</th>
            <th>失败人数</th>
            <th>失败占比</th>
        </tr>
        {{each data as row i}}
            <tr {{if i%2>0}}class="bg"{{/if}}>
                <td>{{row.value}}</td>
                <td>{{row.mark}}</td>
                <td>{{row.num}}</td>
                <td>{{row.proportion}}%</td>
            </tr>
        {{/each}}
    </table>
</script>
<script id="failer_legend" type="text/html">
    <ul class="line-legend-item">
        {{each items as item i}}
        <li><em class="{{item.color}}"></em><span title="{{item.mark}}">{{if item.mark.length>6}}{{item.mark.substr(0,5)}}…{{else}}{{item.mark}}{{/if}}</span></li>
        {{/each}}
    </ul>
</script>
{% parent %}
<script type="text/javascript" id="js-run" data-js="page/failer">
    seajs.use('/js/lib/run');
</script>
{% endblock %}