{% extends 'common/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/css/crowd.css">
{% endblock %}

{% block main %}
<div class="warp">
	<div class="main">
		<div class="nav-switch">
			<a href="javascript:void(0);" class="active"><span>筛选历史</span></a>
			<a href="/upload/history/index.html"><span>上传人群管理</span></a>
		</div>
		<div class="center-button"></div>
		<div id="com-table">
            <div class="com-table-null">暂无数据</div>
        </div>
		<div class="page">

		</div>
	</div>
</div>
{% endblock %}

{% block other %}
<script id="list" type="text/x-handlebars-template">
	<table class="com-table">
		<tr>
			<th class="w20p tl">名称</th>
			<th class="w30p tl">描述</th>
			<th class="tl">筛选条件</th>
			<th class="w13p">筛选时间</th>
			<th class="w12p">操作</th>
		</tr>
		{{#each rows}}
		<tr data-id="{{id}}" data-text="{{content}}">
			<td class="tl">{{name}}</td>
			<td class="tl">{{desc}}</td>
			<td class="tl" title="{{tagStr}}">{{tagstr}}</td>
			<td>{{createTime}}</td>
			<td class="edit">
				<a class="use" href="javascript:void(0);">使用</a>
				<em class="line"></em>
				<a class="delete" href="javascript:void(0);">删除</a>
			</td>
		</tr>
		{{/each}}
	</table>
</script>
{% parent %}<script type="text/javascript" id="js-run" data-js="page/historylist">seajs.use('/js/modules/run');</script>
{% endblock %}