<!DOCTYPE html>
<html>

<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>集奥方舟</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="bookmark" href="favicon.ico">
    <link rel="stylesheet" href="/css/common.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main404">
        <h4></h4>
        <img src="/img/404bg.png" width="416" height="286" />
        <script>
            var reg = new RegExp("(^|&)message=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var m = '服务器出现未知错误';
            if (r != null) m = decodeURIComponent(r[2]);
            document.getElementsByTagName('h4')[0].innerHTML = removeHTMLTag(m)

            function removeHTMLTag(str) {
                str = str.replace(/<\/?[^>]*>/g, ''); //去除HTML tag
                str = str.replace(/[ | ]*\n/g, '\n'); //去除行尾空白
                str = str.replace(/&#x20;/ig, ''); //去掉&#x20;
                return str;
            }
        </script>
    </div>
</body>

</html>