{% extends '../common/layout.html' %}
{% block head %}
{% parent %}
<link rel="stylesheet" href="/css/crowd.css">
{% endblock %}
{% block main %}
<div class="warp">
    <div class="main">
        <div class="nav-switch">
            <h3>我的消息</h3>
        </div>
        <div id="com-table">
        <div class="com-table-null">暂无数据</div>
        </div>
        <div class="page"></div>
    </div>
</div>
{% endblock %}
{% block other %}
<script id="list" type="text/x-handlebars-template">
    <table class="com-table">
    <tr>
        <th class="ti10 tl">消息内容</th>
        <th class="w20p">时间</th>
        <th class="w20p">操作</th>
    </tr>
    {{#each rows}}
    <tr data-id="{{id}}">
        <td class="tl">{{{content}}}</td>
        <td>{{created_at}}</td>
        <td>
            <a class="delete" href="javascript:void(0);">删除</a>
        </td>
    </tr>
    {{/each}}
   </table>
</script>

{% parent %}<script type="text/javascript" id="js-run" data-js="page/message">seajs.use('/js/lib/run');</script>
{% endblock %}