{% extends '../common/layout.html' %}

{% block head %}
{% parent %}
    <link rel="stylesheet" href="/css/tag-inventory.css">
{% endblock %}

{% block main %}
<div class="warp">
    <div class="main">

    </div>
</div>
<!-- 创建存量分析项目弹窗 -->
<div class="dialog" id="dialog_submit">
    <a href="javascript:void(0);" class="dialog-close" title="关闭"></a>
    <div class="dialog-header"><h4>创建存量分析项目</h4></div>
    <div class="dialog-body">
        <div class="dialog-inventory">
            <ul class="input-warp">
                <li>
                    <label>项目名称</label>
                    <input class="input-text error" type="text" />
                    <p class="error"><i></i><span>输入由中文、字母、数字组成，不能为空，最长10位！</span></p>
                </li>
                <li>
                    <label>项目负责人</label>
                    <input class="input-text" type="text" />
                    <p class="error"><i></i><span>输入由中文、字母、数字组成，不能为空，最长10位！</span></p>
                    
                </li>
                <li>
                    <label>描述</label>
                    
                    <textarea class="input-area"></textarea>
                    <p class="error"><i></i><span>输入由中文、字母、数字组成，不能为空，最长50位！</span></p>
                    
                </li>
            </ul>
        </div>
    </div>
    <div class="dialog-footer">
        <a class="red" href="javascript:void(0);">提交</a>
        <a href="javascript:void(0);">取消</a>
    </div>
</div>
<!-- 创建存量分析项目弹窗 End -->
{% endblock %}

{% block other %}
<script id="layout" type="text/html">
    {{each sequence as type i}}
        {{if type=='area'}}
        <div class="screening" id="area">
            <h2>筛选地域</h2>
            <div class="screening-right screening-right-all">
                <div class="scroll-warp"  id="area" style="overflow-y:auto">
                    <ul class="scroll-content screening-item all_area">
                    </ul>
                </div>
                <div class="screening-assets" id="asset">

                </div>
            </div>
        </div>
        {{else if type=='action'}}
        <div class="screening" id="action">
            <h2>导出客户上网行为</h2>
            <div class="screening-time">
                <div class="select-warp">
                    <p>最近7天</p>
                    <ul>
                        <li>最近7天</li>
                        <li>最近7天</li>
                    </ul>
                </div>
            </div>
            <div class="screening-left">
                <div class="scroll-warp" style="overflow-y:auto">
                    <ul class="scroll-content screening-one">
                    </ul>
                </div>
            </div>
            <div class="screening-right">
                <div class="scroll-warp all_action" style="overflow-y:auto">
                    <ul class="scroll-content screening-item">
                    </ul>
                </div>
                <div class="all-button">
                    <p class="text all_action" data-type="all_action"><i class="icon"></i><span>全选</span></p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="screening" id="{{type}}">
            <h2>{{typeMap[type]}}</h2>
            <div class="screening-left">
                <div class="scroll-warp" style="overflow-y:auto">
                    <ul class="scroll-content screening-one">
                    </ul>
                </div>
            </div>
            <div class="screening-right">
                <div class="scroll-warp all_{{type}}" style="overflow-y:auto">
                    <ul class="scroll-content screening-item">
                    </ul>
                </div>
                <div class="all-button">
                    <p class="text all_{{type}}" data-type="all_{{type}}"><i class="icon"></i><span>全选</span></p>
                </div>
            </div>
        </div>
        {{/if}}
    {{/each}}
        <div class="cart-warp" id="selected-wrap">
            <h3>已选择</h3>
            <div class="scroll-warp">
                <div class="scroll-content">

                </div>
            </div>
            <div class="select-number"><em>已选客户</em><span><b></b><i></i></span></div>
            <div class="billing">
                <a class="changeStep prev" href="javascript:void(0);">上一步</a>
                <a class="changeStep skip" href="javascript:void(0);">跳过</a>
                <a class="red save disabled" href="javascript:void(0);">保存</a>
                <a class="changeStep red next disabled" href="javascript:void(0);">下一步</a>
            </div>
        </div>    
</script>
<script id="cycle_wrap" type="text/html">
    <p data-code="{{cycle[0].code}}">{{cycle[0].text}}</p>
    <ul>
        {{each cycle as item i}}
        <li data-code="{{item.code}}">{{item.text}}</li>
        {{/each}}
    </ul>
</script>

<script id="tagLevel2" type="text/html">
    <!--<ul class="scroll-content screening-one">-->
        {{each lables as lable i}}
        <li class="" data-code='{{lable.code}}'>
            <div class="sort-first" title="{{lable.name}}"><i class="icon icon{{lable.code}}"></i><span>{{lable.name}}</span></div>
        </li>
        {{/each}}
    <!--</ul>-->
</script>

<script id="tagLevel3" type="text/html">
    <!--<ul class="scroll-content screening-item">-->
        {{each lables as lable i}}
        <li class="" data-code="{{lable.code}}">
            <p class="text" title="{{lable.name}}"><i class="icon"></i><span>{{lable.name}}</span></p>
            {{if lable.percent}}
            <p class="piece"><em style="width: {{lable.percent}};"><span>{{lable.num}}人</span></em></p>
            {{/if}}
        </li>
        {{/each}}
    <!--</ul>-->
</script>
<script id="area_list" type="text/html">
    <!--<ul class="scroll-content screening-item all_area">-->
        {{each lables as lable i}}
        <li class="" data-code="{{lable.code}}">
            <p class="text"><i class="icon"></i><span title="{{lable.name}}">{{lable.shortName}}</span></p>
            <p class="piece"><em style="width: {{lable.percent}};"><span>{{lable.num}}人</span></em></p>
        </li>
        {{/each}}
    <!--</ul>-->
</script>
<script id="asset_group" type="text/html">
    <h2>筛选资产</h2>
    <ul>
        {{each lables as item i}}
        <li data-code="{{item[0].code}}"><p class="text"><i class="icon"></i><span>{{item[0].name}}</span></p></li>
        {{/each}}
    </ul>
    <!--<h4 class="first-child">房产</h4>
    <div class="select-warp">
        <p>请选择</p>
        <ul>
            {{each lables.house as item i}}
            <li data-code="{{item.code}}">{{item.name}}</li>
            {{/each}}
        </ul>
    </div>
    <h4>私家车</h4>
    <div class="select-warp">
        <p>请选择</p>
        <ul>
            {{each lables.car as item i}}
            <li data-code="{{item.code}}">{{item.name}}</li>
            {{/each}}
        </ul>
    </div>
    <h4>子女</h4>
    <div class="select-warp">
        <p>请选择</p>
        <ul>
            {{each lables.child as item i}}
            <li data-code="{{item.code}}">{{item.name}}</li>
            {{/each}}
        </ul>
    </div>-->
</script>
<script id="selectedLabelList" type="text/html">
    <ul class="select-center">
        {{each sequence as type i}}
            {{if selectedLabel[type]}}
            <li id="{{type}}">
                <h4>{{typeMap[type]}}：</h4>    
                {{each selectedLabel[type] as lable i}}
                <p data-code="{{lable.code}}"><span>{{lable.text}}</span><i class="icon"></i></p>
                {{/each}}               
            </li>
            {{/if}}
        {{/each}}

    </ul> 
</script>
{% parent %}
<script type="text/javascript" id="js-run" data-js="page/filter-tag">seajs.use('/js/modules/run');</script>
{% endblock %}

