{% extends '../common/layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/filterTreeview.css"/>
{% parent %}
<link rel="stylesheet" href="/css/tag.css">
{% endblock %}

{% block main %}
<div class="warp">
	<div class="main" style="display: none;">
		<div class="screening">
			<div class="breadcrumb">
				<dl>
					<dt>全部</dt>
				</dl>
				<label class="search">
                    <i class="icon"></i>
                    <input type="text" />
                    <em class="icon" style="display: none;"></em>
                </label>
			</div>
			<div class="screening-left">
				<div class="scroll-warp">
					<div id="treeview"></div>
				</div>
			</div>
			<div class="screening-right">
				<div class="scroll-warp">
					<ul class="scroll-content screening-item">
					</ul>
				</div>
				<!--<div class="scrollbar-warp"></div>-->
				<div class="all-button">
					<p><i class="icon"></i><span>全选</span></p>
					<input type="submit" value="加入购物篮" />
				</div>
			</div>
		</div>
		<div class="cart-warp">
			<h3>标签购物车</h3>
			<div class="scroll-warp">
				<div class="scroll-content">
					<div class="cart" id="cart_1">
						<h4>购物篮1</h4>
						<ul class="active">
							<li data-init="1">
								<strong>请在左侧选择标签，加入购物篮</strong>
							</li>
						</ul>
						<div class="all-item"></div>
					</div>
				</div>
				<div class="add-cart">
                    <a class="disabled" href="javascript:void(0);"><i class="icon"></i><span>添加新购物篮</span></a>
                </div>
			</div>
			<!--<div class="scrollbar-warp"></div>-->
			<div class="billing">
				<a href="javascript:void(0);">删除</a>
				<a href="javascript:void(0);">清空</a>
				<input type="submit" value="下一步" />
			</div>
		</div>
	</div>
	<div class="base-main" style="display: none;">
		<h2>基础属性筛选</h2>
		<div class="base-tag-warp"></div>
		<div class="edit-btn">
			<a href="javascript:void(0)" class="prev">上一步</a>
            <a href="javascript:void(0)" class="pass">跳过</a>
            <a href="javascript:void(0)" class="next active">下一步</a>
		</div>
	</div>
</div>
{% endblock %}

{% block other %}
{% parent %}<script type="text/javascript" id="js-run" data-js="page/filter">seajs.use('/js/lib/run');</script>
{% endblock %}
